.DS_Store
ios/appSeed/.DS_Store
*.log
core/sandbox/jsRiffle.js
core/sandbox/jsRiffle.js.map
CardsAgainstHumanityDemo/swiftCardsAgainst/.DS_Store
*.xcuserstate
CardsAgainstHumanityDemo/swiftCardsAgainst/ExAgainst.xcworkspace/xcuserdata/Damouse.xcuserdatad/UserInterfaceState.xcuserstate

*.swiftdoc
*.swiftmodule
biddly
*.a
*.o
*.so

libriff.h
libriff.so

riffle.h
riffle.a

libriffmantle.h
libriffmantle.so

riffmantle.h
riffmantle.so

IosMantle.framework/

products/