build.log
.DS_Store
ios/appSeed/.DS_Store
*.log
core/sandbox/jsRiffle.js
core/sandbox/jsRiffle.js.map
CardsAgainstHumanityDemo/swiftCardsAgainst/.DS_Store
*.xcuserstate
CardsAgainstHumanityDemo/swiftCardsAgainst/ExAgainst.xcworkspace/xcuserdata/Damouse.xcuserdatad/UserInterfaceState.xcuserstate

*.pyc
*.swp
*.swiftdoc
*.swiftmodule
biddly
*.a
*.o
*.so
*.jar

IosMantle.framework/

products/

swift/osxCrust/Build/
.build/

swift/example/Packages/*
swift/example/Example
swift/swiftRiffle/ModuleCache/

cumin.txt

*.class

node_modules

js/jsRiffle/release/*
js/ngRiffle/release/*

*.bin
.tmp
*.gobak

swift/swiftRiffle/Pod/Assets/ios/Mantle.framework/Versions/A/Mantle
swift/swiftRiffle/Pod/Assets/osx/Mantle.framework/Versions/A/Mantle
