<ion-view>
  <ion-content>
    <div class="list card">

      <div class="item item-thumbnail-left">
        <img src="img/exis-emblem.png">
        <h2 class="title">Cards Against Exis-tence</h2>
        <p>Created by the Exis team</p>
      </div>

      <div class="item item-image">
        <img src="img/gamelogo.png">
      </div>

      <div ng-show="loggedIn" class="item item-icon-left dark">
        <i class="icon ion-thumbsup"></i>
        Welcome {{username}}!!
      </div>

      <a ng-show="loggedIn" class="item item-icon-left dark" href="#/room">
        <i class="icon ion-play"></i>
        Play
      </a>

      <label ng-show="!loggedIn" class="item item-input">
        <input type="text" ng-model="username" placeholder="User Name">
      </label>
      <a ng-show="!loggedIn" class="item item-icon-left dark" ng-click="login(username)">
        <i class="icon ion-log-in"></i>
        Login
      </a>

  </div>
  </ion-content>
</ion-view>
